.searchRow {
    display: flex;
    align-items: baseline;
}

.searchWrapper {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 4px 4px 8px;
    border-radius: 2px;
}

.searchInput {
    // TODO: bad practice
    color: white !important;
}

.searchInputInput {
    padding: 8px;
}
